body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color : #F5F1E8;
    color: #0B1F33;


}
header {
    position: sticky;
    top: 0;
    z-index: 500;
    padding: 20px 20px;
    background-color: #0B1F33;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid #0B1F33;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: #F9FAFB;
    margin: 0px;
    padding: 09px;
}

.info{
    text-align: center;
    margin-top: 20px;
    background-color: #111827;
    color: #F9FAFB;
    border: 5px solid #374151;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;

}
nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
    position: relative;

}
nav a:hover {
    color: #C9A227;
}

nav a::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -5px;

    width: 0;
    height: 2px;

    background: #C9A227;

    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}
p {

    color: #3D4A5;
}
h1, h2, h3, h4, h5, h6 {
    color: #0B1F33;
}

h1 {
    font-size: 200px;

}

p { 
    font-size: 50px;
    color: #3D4A52;
    font-style: normal;
    display: flex;
    
}
#cv {
    margin-top: 20px;
    background-color: #FFFFFF;
    color: #C9A227
    border-bottom: 5px solid #C9A227;
    position: absolute;
    display: inline;
    display: block;
}
